[package]
name = "ffi"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
napi = { version = "2", features = ["napi4"] }
napi-derive = "2"
